<div class="title"><h2>About</h2></div>

<div class="about">
<h4>Join a market place that will value and expose your skills.</h4>

<p>thefourthR can provide you with the tools you need to manage, promote and grow your business. </p>
<br>
<h4>No monthly fees | Secure transactions</h4>
<br>
<h4> Automatic deposits | Vendor protection</h4>

<p>We don’t charge you anything to register as a listed repairer, and only take a 1.5% commission on repair jobs you complete.</p>
<br>
<h4>Simple, powerful tools</h4>

<p>Manage your business anywhere with thefourthR. You can edit your profile, accept jobs and respond to customers instantly, from anywhere.</p>

<h4>Create a brand</h4>

<p>Contact us anywhere, anytime</p>
</div>
