<div class="title"><h2>Frequently Asked Questions</h2></div>

<div class="faq">
<div class="qa">
<h4>How do I get paid?</h4>
<p>A: With our easy-to-use and secure payment system, you may accept payments from a wide variety of payment methods including credit and debit cards, PayPal, Google Wallet, Apple Pay, and Etsy Gift Cards.</p>
</div>
<div class="qa">
<h4>What do I need to do to sign up as a repairer?</h4>
<p>A: Create an account (if you don’t already have one), set your  location and skills, choose a shop name, create a listing, set a payment method (how you want to be paid) and finally set a billing method (how you want to pay your fees).</p>
</div>
<div class="qa">
<h4>What skills can I list?</h4>
<p>A: Anything you know how to repair that you think could be of use.</p>
</div>
</div>