<h1>Items</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    <% @items.each do |item| %>
      <div class="card card-body">
        <% if item.photo.present? %>
          <%= image_tag item.photo_url(:medium) %>
        <% end %>
        <div class="card-text">
          <h2><%= link_to item.title, item %></h2>
          <p><%= item.category %></p>
        </div>
        <br>
      </div>
    <% end %>
    </div>
</div>
<div class="btn btn-primary"><%= link_to 'New Item', new_item_path %></div>

<br>

