@import "bootstrap";

$color-grey: #c4c4c4b9;
$color-pink: #EEE6E7;
$color-darkgreen: #071C15;
$color-green: #344532;

body {
  color: $color-darkgreen;
  height: 100%;
  margin: 10px;
  padding: 10px;
  font-family: 'Open Sans';

  background: {
    image: url(asset-path("background.jpg"));
    position: left 20%;
    background-attachment: fixed;
    size: cover;
    repeat: no-repeat;
  }
  
  h1 {
    font-size: 3em;
  }

  h1, h2, h4, h5 {
    font-family: "Magnolia Script";
  }

  a {
    text-decoration: none;
    color: $color-darkgreen;
  }

  a:hover {
    text-decoration: none;
    color: $color-green;
  }
  
  input, .field, textarea, .actions, button {
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    margin: 20px;
  }
  
  input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
  }
  
}
  .content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: $color-grey;
    border-radius: 10px;
    max-width: 300px;
    color: $color-darkgreen;
  }

  .profile-form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: $color-grey;
    input {
      margin: 0;
    }
  }

  .links {
    background: $color-grey;
    border-radius: 10px;
    max-width: 100px;
    padding: 2px;
  }
  
  .devise-body, .support, .qa, .about {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    padding: 20px;
    background: $color-grey;
    border-radius: 10px;
    max-width: 500px;
    color: $color-darkgreen;
    font-family: 'Open Sans', sans-serif;
  }

  .intro {
    max-width: 800px;
    background: $color-grey;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
  }
  
  .message {
    display: flex;
    flex-direction: column;

    label {
      font-weight: semi-bold;
      margin-top: 10px;
      margin-bottom: 2px;
    }
    input, textarea {
      margin: 2px;
    }
  }
  
  .navbar .nav {
    flex-direction: row;
    background: $color-grey;
    border-radius: 10px;
    padding: 7px;
    align-items: center;
    justify-content: center;
    
    .navbar-fixed-bottom {
      position: fixed;
      bottom: 0px;
    }
  }

  p {
    margin: 0;
  }
