<div class="links"><%= link_to "Back", repairs_path %></div>
<h2><%= @repair.item.title %></h2>

<div class="main">
<p><strong>Problem: </strong><%= @repair.item.problem %></p>
<p><strong>Repairer: </strong><%= @repair.repairer.business_name %></p>
</div>

